<div class="repo-template">
    <input type="text" ng-model="repoName">
    
    <h1>Repository Template</h1>

    <button type="button" class="btn btn-primary" ng-model="config.private" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.private"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.private"></i>
        Private Repository
    </button>

    <button type="button" class="btn btn-primary" ng-model="config.has_issues" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.has_issues"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.has_issues"></i>
        has Issues
    </button>

    <button type="button" class="btn btn-primary" ng-model="config.has_projects" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.has_projects"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.has_projects"></i>
        has Projects
    </button>

    <button type="button" class="btn btn-primary" ng-model="config.has_wiki" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.has_wiki"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.has_wiki"></i>
        has Wiki
    </button>

    <button type="button" class="btn btn-primary" ng-model="config.allow_squash_merge" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.allow_squash_merge"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.allow_squash_merge"></i>
        allow squash merge
    </button>

    <button type="button" class="btn btn-primary" ng-model="config.allow_merge_commit" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.allow_merge_commit"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.allow_merge_commit"></i>
        allow merge commit
    </button>

    <button type="button" class="btn btn-primary" ng-model="config.has_wiki" uib-btn-checkbox>
        <i class="fa fa-fw fa-check-square-o" ng-show="config.has_wiki"></i>
        <i class="fa fa-fw fa-square-o" ng-hide="config.has_wiki"></i>
        has Wiki
    </button>

    <div>
        <a href="#!/create" class="btn btn-primary" ng-click="next()">Next</a>
    </div>

</div>