.repo-template {
    ul.features {
        list-style-type: none;
    }

    .summary {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .repo-name-input {
        border: 1px solid #DDD;
        border-radius: 7px;
        font-size: 2.5em;
        width: 100%;
        text-align: center;

        input, span {
            border: none;
        }
    }

    .next {
        width: 100%;
    }
}