<div class="repo-template">
    <div class="input-group">
        <span class="input-group-addon">Repository Name</span>
        <input type="text" class="form-control" ng-model="repoName">
    </div>

    The repository <span class="repo-name">{{repoName}}</span> will have the following properties

    <ul class="features">
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.private)"></i> Private Repository</li>
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.has_issues)"></i> has Issues</li>
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.has_projects)"></i> has Projects</li>
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.has_wiki)"></i> has Wiki</li>
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.allow_squash_merge)"></i> Squash Merge allowed</li>
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.allow_merge_commit)"></i> Merge Commit allowed</li>
        <li><i class="fa fa-fw" ng-class="indicator(repoTemplate.config.allow_rebase_merge)"></i> Rebase Merge allowed</li>
    </ul>

    <div>
        <a href="#!/create" class="btn btn-primary" ng-click="next()">Next</a>
    </div>

</div>