<div class="row repo-template">

    <div class="col-xs-12">
        <h3>Repository Name</h3>
        <form name="repoForm">
            <div class="input-group input-group-lg repo-name-input">
                <span class="input-group-addon">{{ orgName }}/</span>
                <input name="name" type="text" class="form-control" placeholder="Your Repo Name" ng-pattern="selectedRepoTemplate.pattern" ng-required="true" ng-model="repoName">
            </div>
        </form>
        <div class="pattern-error"  ng-show="repoForm.name.$error.pattern">
            Please match name template {{ selectedRepoTemplate.pattern }}
        </div>
    </div>

    <div class="col-xs-12 summary">
        <h3>Select Repository Template</h3>

        
        <div class="row">
            <div class="col-xs-6">
                <div class="list-group org-list">
                    <a href ng-click="selectRepoTemplate(template)" class="list-group-item" ng-class="{'active': template.$key == selectedRepoTemplate.$key}" ng-repeat="template in repoTemplates">
                        {{ template.name }}
                    </a>
                </div>
            </div>
            
            <div class="col-xs-6 panel">
                Repository Properties
                <ul class="features">
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.private)"></i> Private Repository</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.has_issues)"></i> has Issues</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.has_projects)"></i> has Projects</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.has_wiki)"></i> has Wiki</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.allow_squash_merge)"></i> Squash Merge allowed</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.allow_merge_commit)"></i> Merge Commit allowed</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedRepoTemplate.config.allow_rebase_merge)"></i> Rebase Merge allowed</li>
                    <li><i class="fa fa-fw fa-info-circle text-info"></i> Gitignore template: {{ selectedRepoTemplate.config.gitignore_template }}</li>
                </ul>

                <div ng-show="selectedRepoTemplate.label">
                    Additional Issue Labels
                    <ul class="features">
                        <li ng-repeat="label in selectedRepoTemplate.label"><i class="fa fa-fw fa-square" ng-style="{color: '#' + label.color}"></i> {{label.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 summary">
        <h3>Select Branch Protection Template</h3>

        
        <div class="row">
            <div class="col-xs-6">
                <div class="list-group org-list">
                    <a href ng-click="selectBranchTemplate(template)" class="list-group-item" ng-class="{'active': template.$key == selectedBranchTemplate.$key}" ng-repeat="template in branchTemplates">
                        {{ template.name }}
                    </a>
                </div>
            </div>
            
            <div class="col-xs-6 panel">
                <ul class="features">
                    <li><i class="fa fa-fw" ng-class="indicator(selectedBranchTemplate.branch)"></i> Protects branch {{selectedBranchTemplate.branch}}</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedBranchTemplate.config.required_status_checks.strict)"></i> requires Status-Checks</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedBranchTemplate.config.required_pull_request_reviews)"></i> requires Pull-Request Reviews</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedBranchTemplate.config.required_pull_request_reviews.dismiss_stale_reviews)"></i> dismiss stale Reviews</li>
                    <li><i class="fa fa-fw" ng-class="indicator(selectedBranchTemplate.config.enforce_admins)"></i> enforce rules for admins</li>
                </ul>
            </div>
        </div>
    </div>

    <button class="btn" ng-class="{'btn-primary': !done, 'btn-success': success}" ng-click="create()" ng-disabled="!repoForm.name.$valid || started">
        <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="started && !done"></i>
        <i class="fa fa-check-circle fa-fw" ng-show="success"></i>
        {{ buttonText }}
    </button>

</div>